@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
.container-fluid {
    background-color: #232323;
    height: 100vh !important;
    color: white;
    font-family: 'poppins';
}

.form-container {
    padding-top: 5.7rem !important;
}

.main-msg {
    font-weight: 600;
}

.required-icon {
    color: red;
    font-size: 10px;
    margin-left: 4px;
}

.input {
    width: 600px;
}

.form-control {
    background-color: #323544 !important;
    border: none !important;
    color: white !important;
}

.btn-primary {
    margin-top: 15px;
    color: #fff;
    background-color: #323544 !important;
    border: none!important;
}

.login {
    color: #9C9898;
    font-size: 12px;
}

a {
    color: white!important;
    text-decoration: none !important;
}